certifi
chardet
Click
clickclick
connexion
Flask
flask-marshmallow
Flask-SQLAlchemy
idna
inflection
itsdangerous
Jinja2
jsonschema
MarkupSafe
marshmallow
marshmallow-sqlalchemy
openapi-spec-validator
pathlib
PyYAML
requests
six
SQLAlchemy
swagger-ui-bundle
urllib3
Werkzeug
